<!--
  View: Página Inicial
  - Lista artigos sem destaque
  - Exibe artigos em destaque
  - Mostra as mais lidas da semana
  - Renderiza menu, busca e categorias
-->
<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>Portal de notícias</title>
</head>

<body>


  <header class="container">
  <nav id="primary" class="grid grid-flow-col">
    <!-- Botão Menu -->
    <div id="menu">
    <a href="#" id="menu-btn">
        <img src="/css/assets/icons/List.svg" alt="icone de menu">
        <strong>Menu</strong>
      </a>
      </div>
    

    <!-- Logo -->
    <div>
      <img src="/css/assets/Tech News.svg" alt="TechNews Logo">
    </div>

    <!-- Botão Buscar -->
    <div class="end" id="search-btn">
      <a href="#"><strong>Buscar</strong></a>
      <img src="/css/assets/icons/MagnifyingGlass.svg" alt="icone de busca">
    </div>
  </nav>

  <!-- Menu dropdown -->
  <div class="menu-dropdown hidden">
    <ul>
  <li><a href="#">Início</a></li>

  <% if (login) { %>
    <li><a href="#">Olá, <%= login.nome_usuario %>!</a></li>
    <%if (login.admin_usuario === 2){ %>
    <li><a href="/artigos/">Criar um artigo</a></li>
    <% } %>
    <% if (login.admin_usuario === 1){ %>
      <details class="text" style="color: black;">
      <summary >Configurações</summary>
      <a href="usuarios/editar">Menu usuários</a>
      <a href="artigos/editar">Menu artigos</a>
      <a href="categorias/editar">Menu categorias</a>
      </details>
      <% } %>
      <%}else {%>
    <li><a href="/login">Fazer login</a></li>
  <% } %>
  <li><a href="#">Contato</a></li>
  <li><a href="/login/logout">Sair</a></li>
  </ul>
  </div>

  <!-- Campo de busca -->
  <div class="search-bar hidden">
    <form action="/buscar_artigos" method="post">
    <input type="text"   name="busca" placeholder="Digite sua busca...">
    <button class="btn-buscar" type="submit">Buscar</button>
    </form>
  </div>
    
  <nav id="secondary" class="grid grid-flow-col">
    <% categorias.forEach(categoria => { %>
      <a href="#<%=categoria.id_categoria%>"><%=categoria.nome_categoria%></a>
    <%}); %>  

    </nav>
  </header>

  <main class="grid container">
    <section id="destaque" class="destaque-container">
    <% 
    const artigoPrincipal = artigos_destaque.find(artigo => artigo.destaque === 1);
    const artigosSecundarios = artigos_destaque.filter(artigo => artigo.destaque === 2).slice(0, 4);
    %>
    
    <!-- Artigo Principal -->
    <div class="destaque-principal">
        <% if (artigoPrincipal) { %>
        <div class="card-destaque">
          <a href="/artigos/<%= artigoPrincipal.id_artigo %>"> 
          <img src="<%= base_imagem + artigoPrincipal.imagem_destaque_artigo %>" alt="<%= artigoPrincipal.alt_imagem %>">
            <div class="card-overlay">
                <span class="content-tag"><%= artigoPrincipal.nome_categoria %></span>
                <h2 class="titulo-principal"><%= artigoPrincipal.resumo_artigo %></h2>
          </a> 
            </div>
        </div>
        <% } %>
    </div>

    <!-- Coluna de Artigos Secundários -->
    <div class="destaque-secundario">
        <% if (artigosSecundarios.length > 0) {
            artigosSecundarios.forEach(artigo => { %>
            <div class="card-secundario">
                <img src="<%= base_imagem + artigo.imagem_destaque_artigo %>" alt="<%= artigo.alt_imagem %>">
                <a href="/artigos/<%= artigo.id_artigo %>">
                <div class="card-overlay">
                   
                    <span class="content-tag"><%= artigo.nome_categoria %></span>
                    <h2 class="titulo-secundario"><%= artigo.resumo_artigo %></h2> 
                </div>
                </a>
            </div>
            <% });
        } else { %>
            <p>Nenhum artigo secundário disponível.</p>
        <% } %>
   
    </div>
</section>
     <section id="mais-lidas">
  <header class="grid grid-flow-col">
    <h3>Mais lidas da semana</h3>
  </header>
  <div class="grid gap-16" >
    <% if (artigosMaisLidos && artigosMaisLidos.length > 0) { %>
      <% artigosMaisLidos.forEach(artigo => { %>
        <figure>
          <a href="/artigos/<%= artigo.id_artigo %>">
          <span class="content-tag"><%= artigo.nome_categoria %></span>
          <img style="max-height: 250px;"src="<%= base_imagem + artigo.imagem_destaque_artigo %>" alt="<%= artigo.alt_imagem %>">
          <p><%= artigo.resumo_artigo %></p>
          </a>
        </figure>
      <% }); %>
    <% } else { %>
      <p>Nenhum artigo mais lido nesta semana.</p>
    <% } %>
  </div>
</section>
 <section id="categorias">
  <% categorias.forEach(categoria => { %>
    <div id="<%=categoria.id_categoria%>"  class="grid gap-32 border-bottom">
      <h1><%= categoria.nome_categoria %></h1>

      <% artigos
        .filter(artigo => artigo.nome_categoria === categoria.nome_categoria)
        .forEach(artigo => { %>

        
        <article class="grid grid-flow-col gap-16">
          <a href="/artigos/<%= artigo.id_artigo %>">
          <div class="conteudo">
            <h2 class="text-lg font-semibold"><%= artigo.titulo_artigo %></h2>
            <p class="text-sm"><%= artigo.resumo_artigo %></p>
          </div>
          </a>
          <div >
            <img src="<%=base_imagem + artigo.imagem_destaque_artigo %>" alt="<%= artigo.alt_imagem %>" style="width: 400px;">
          </div>
          
        </article>

      <% }) %>
    </div>
  <% }) %>
</section>

  </main>
  <footer> 
  </footer>
  <script src="/js/menuInterativo.js"></script>
</body>
</html>